[Unit]
Description=Build Engine/QtCreator shared configuration
Before=sdk-webapp.service

[Mount]
What=config
Where=/etc/mersdk/share
Type=vboxsf
Options=rw,exec,uid=0,gid=0,dev,fmode=755,dmode=755
DirectoryMode=755
TimeoutSec=90

[Install]
WantedBy=basic.target
